/* =================================
  Base Element Styles
==================================== */

/* Color Scheme =================
/*Pueblo (red) #763626
Astral (blue) #336b87
Outerspace (gray) #2a3132
================================*/

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #2a3132;
	color: white;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

p {
	font-size: 1em;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.container-name {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.replace-name {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.container-name:hover .name{
  display: none;
}

.container-name:hover .replace-name:after{
  content: 'Front-End Web Developer';
}

nav {
	margin: 0 auto;
}

.nav-links li {
	display: block;
	width: 12.5em;
	margin: 0 auto;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 2.5px 0;
	margin: 3px 0;
	background-color: white;
	color: black;
	border: solid #2a3132 1px;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-links a:hover {
	transform: scale(1.1) rotate(0deg);
	background-color: #336b87;
	color: white;
}

/* ---- Layout Containers ---- */

.main-header {
	background-color: #763626;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: solid black 1px;
}

.banner {
	text-align: center;
	padding: 2em 0;
	width: 90%;
	margin: 0 auto;
}

.container {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.footer-nav {
	background-color: #763626;
	color: white;
	border-top: solid black 1px;
}

/* ---- Page Elements ---- */

.what-i-do {
	font-family: 'Fredericka the Great', cursive;
	font-size: 2.0em;
	font-weight: lighter;
	margin: 0.5em 0;
}

#portfolio,
#skills,
#contact {
	background-color: white;
	color: #336b87;
	font-size: 2.0em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	margin: 0 auto;
	border: solid black 2px;
}

.marketing-img,
.search-img,
.travel-img,
.map-img,
.gallery-img,
.calc-img,
.skills-img {
	width: 25em;
	box-shadow: 5px 10px black;
}

.marketing-sec,
.search-sec,
.travel-sec,
.map-sec,
.gallery-sec,
.calc-sec,
.skills-sec,
.contact-sec {
	background-color: #336b87;
	padding: 1em;
	margin: 2em 0;
}

.contact-sec p {
	margin: 0.5em 0;
}

.marketing-sec:hover,
.search-sec:hover,
.travel-sec:hover,
.map-sec:hover,
.gallery-sec:hover,
.calc-sec:hover {
	transform: scale(1.075);
}

.logo {
	width: 307px;
	height: 188px;
}

.footer-nav {
	padding: 1em 1em 0 1em;
	overflow: hidden;
}

.footer-nav-name {
	float: left;
	margin-top: -5.5px;
	font-size: 1em;
}

.footer-nav-links ul {
	font-size: 0.75em;
}

.footer-nav-links,
.footer-nav-links ul,
.footer-nav-top {
	float: right;
	text-transform: uppercase;

}

ul.skills {
	padding: 1em 0 0 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #763626;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #2a3132;
}

.break-2 {
	display: none;
}

.footer-nav-home,
.footer-nav-portfolio,
.footer-nav-skills,
.footer-nav-contact {
	display: none;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

	.container-nav {
		text-align: center;
	}

	.nav-links,
	.nav-links li	 {
		display: inline-block;
	}

	.nav-links li {
		width: 8em;
	}

	.logo {
		float: right;
		margin: 2em 0;
	}

	.banner {
		text-align: left;
	}

	.break-1 {
		display: none;
	}

	.break-2 {
		display: inline;
	}

	.intro-bio {
		float: left;
		width: 50%;
	}

	.marketing-sec,
	.travel-sec,
	.gallery-sec {
		float: left;
		width: 50%;
		height: 25em;
		margin-left: -8px;
	}

	.search-sec,
	.map-sec,
	.calc-sec {
		float: right;
		width: 50%;
		height: 25em;
		margin-right: -8px;
	}

	.footer-nav-top {
		display: none;
	}

	.footer-nav-home,
	.footer-nav-portfolio,
	.footer-nav-skills,
	.footer-nav-contact {
		display: inline-block;
		padding: 0 1.5em 0 0;
	}

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}
/* ****** end media query for min-width 768px ****** */

@media (min-width: 1024px) {

	.main-header {
		padding: 0.5em 0 1em 0;
	}

	.nav-menu {
		margin: 0;
	}

	.container-name {
		float: left;
		margin-left: 1em;
		margin-top: 0.75em;
		font-size: 1.25em;
	}

	.container-nav {
		float: right;
		margin: 1.25em 1em 0 0;
	}

	.marketing-sec,
	.search-sec,
	.travel-sec,
	.map-sec,
	.gallery-sec,
	.calc-sec {
		width: 32%;
		height: 25em;
		margin: 2em 0;
	}

	.col-top-row {
		float:left;
		margin-right: 0.2em;
	}

	.col-top-row + .col-top-row {
		margin-left: 0.2em;
	}

	.col-top-row:last-child {
		margin-right: 0;
	}

	.col-bottom-row {
		float:left;
		margin-right: 0.2em;
	}

	.col-bottom-row + .col-bottom-row {
		margin-left: 0.2em;
	}

	.col-bottom-row:last-child {
		margin-right: 0;
	}

}
/* ****** end media query for min-width 1024px ****** */
